# 忽略 Python 缓存与虚拟环境
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# 忽略大型模型权重与微调 Checkpoint（严禁直接传 GitHub）
models/
Pretrain/*.pth
*.pt
*.bin
*.onnx
*.ckpt

# 忽略数据集、缓存与运行生成目录
dataset/
data/FashionMNIST
cache/
output/
training/
report/
*.pkl
*.json
*.yml
*.csv
*.pdf
*.log
*.jsonl
!rel2id.json

# 忽略 IDE 配置与系统临时文件
.idea/
.vscode/
.DS_Store

#忽略我不想传的
backup_code/
config/
llama3_aug_prompt/
llama3_lora_semeval_cot/
template/
test/
TKRE-main/
DA*.py
filter*.py
nni_trail.sh
README.md
under_sample.py
DA*.txt
*.ipynb
estimate_threhold.py
llama*.txt
nni*.py
mvre*.txt
*.png
test*.py
trans*.txt
qwen*.py
qwen*.txt
*.txt.txt
GPT*.py
process_backup.txt
requirements_for_qwen.txt
generate_knowledge_prompt.py
filtered_augment_data.txt